#blog-landing {
  position: relative;
  max-width: 100%;
  width: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.white-panel {
  position: absolute;
  background: white;
  border-radius: 3px;
}

.white-panel .box {
  margin-bottom: 0px;
}

.white-panel h1 {
  font-size: 1em;
}

.white-panel h1 a {
  color: #A92733;
}

.white-panel img {
}

.white-panel .username a {
  color: #505458;
  font-weight: normal;
}

.white-panel .username a:hover,
.white-panel .username a:focus {
  color: #505458;
  text-decoration: none;
}

.white-panel:hover {
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.box-body > p {
  color: #6f7680;
}

.box-body > a.event-name {
  color: #505458;
  line-height: 30px;
  font-weight: normal;
  font-size: 15px;
}

.box-body > p > a {
  color: #bec1ca;
  padding: 0px 2px;
}

.box-footer > a {
  color: #505458 !important;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 10px;
}

.box-footer > a > i {
  margin-right: 5px;
}

.box-footer > a:hover,
.box-footer > a:focus {
  cursor: pointer;
  text-decoration: none;
}