#locked-screen{
    margin-top:80px;    
}

.img-user{
    margin:auto;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #39bbdb;
  border-color: #556b8d;
}

.panel > .panel-heading {
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 10px;
}

.panel {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.panel-heading > .panel-title {
  height: auto;
  font-size: 0.813em;
}

.profile-pic {
  margin: 15px 0;
}

.profile-pic img {
  border: 7px solid #e5e6ea;
}

.btn-primary, a.btn-primary:link, a.btn-primary:visited {
  color: #fff;
  background-color: #39bbdb;
  border-radius:0px;
}

#password {
  padding-left: 32px;
}

.form-control {
  border: 2px solid #e8ebed;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 8px 12px 9px 12px;
}

.form-group i {
  position: absolute;
  left: 27px;
  top: 11px;
}